<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/output.css">
  <title>Vestibular</title>
</head>

<body>
  <div class="bg-slate-50 min-h-screen lg:flex">
    <%- include('partials/mainBanner.ejs') %>
    <section class="flex-3 lg:grid lg:place-items-center lg:py-12">
      <main
        class="mx-4 border border-slate-300 bg-white shadow-lg rounded-lg mt-[-48px] lg:mt-0 p-6 max-w-2xl md:mx-auto lg:w-2/3 lg:max-w-xl">
        <header class="pb-2 border-b border-slate-200">
          <p class="text-center text-slate-400 text-xs">Prova Azul - UFSM 2023.1</p>
        </header>

        <main class="my-4">
          <form action="" method="post">
            <div class="border border-red-500 h-screen"></div>
            
          </form>
        </main>
        <footer class="pt-2 border-t border-slate-200">
          <p class="text-center text-slate-400 text-xs">As informações aqui informadas são completamente anônimas</p>
        </footer>
      </main>
    </section>

  </div>
</body>

</html>