<header class="bg-blue-600 pt-8 pb-24 px-4 rounded-b-lg lg:rounded-r-xl shadow-lg flex-2 lg:flex lg:flex-col">
  <div class="flex flex-col gap-4 max-w-2xl mx-auto text-center md:text-left lg:mx-8">
    <a href="https://github.com/pablostefanello/mimirs_pit" target="_blank"
      class="flex w-fit items-center gap-2 text-sm p-2 text-slate-300 self-center transition-all brightness-100 hover:brightness-90 md:text-base">
      <img src="/assets/github-icon.svg" alt="GitHub" class="w-4">
      Contribua com o projeto
    </a>
    <h1 class="text-white font-bold text-4xl md:text-5xl lg:text-6xl lg:mt-8">Todos os gabaritos em um único lugar!</h1>
    <strong class="text-2xl text-slate-100 font-semibold">UFSC • UFSM • IFSC • IFSC</strong>
    <p class="text-sm md:text-base lg:my-4 text-slate-100">Lorem ipsum dolor sit amet consectetur. Lobortis non
      aliquam
      tellus ipsum augue urna tortor. Lobortis non aliquam tellus ipsumaugue urna tortor.</p>

    <div class="hidden lg:flex gap-4 my-8 p-4 border border-blue-500 rounded-lg bg-[#3a73ed]">
      <img src="/assets/alert-triangle.svg" alt="Alerta">
      <div>
        <strong class="text-slate-300 font-medium">Atenção:</strong>
        <p class="text-slate-300">Lorem ipsum dolor sit amet consectetur. Lobortis non aliquam tellus ipsum augue urna
          tortor.</p>
      </div>
    </div>
  </div>
</header>